<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }} ">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Músicas do Blue na Prática</title>
</head>

<body>
    <nav>
        <a href="/">
            <img src=" {{ url_for('static', filename='img/minilogo.png') }} " alt="">
        </a>
        <ul>
            <li>
                <a href="">Ouvir</a>
            </li>
            <li>
                <a href="/new">Nova Música</a>
            </li>
        </ul>
    </nav>

    <header id="banner">
        <div>
            <h1>
                Playlist do
                <span class="material-icons">
                    play_circle
                </span>
                Blue Na Prática
            </h1>
            <h2>
                Músicas autorizadas no YouTube
            </h2>
        </div>
        <img src=" {{ url_for('static', filename='img/img-home.png') }} " alt="">
    </header>

    <section id="playlist">
        <h3>Playlist</h3>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Artista</th>
                    <th>Player</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for musica in musicas %}
                <tr>
                    <td>{{musica.id}}</td>
                    <td>{{musica.nome}}</td>
                    <td>{{musica.artista}}</td>
                    <td>
                        <audio controls src="{{musica.link}}"></audio>
                    </td>
                    <td>
                        <a href="">Editar</a>
                        <a href="">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <footer>
        <hr>
        <p>Blue na Prática é uma iniciativa&nbsp;<a href="https://blueedtech.com.br/" target="_blank">Blue EdTech</a> </p>
    </footer>

</body>

</html>